.App {
  text-align: center;
}
.header {
  height: 40vh;
  width: 100vw;
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer input {
  height: 40px;
  width: 300px;
  border-radius: 15px;
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 25px;
}
.header button {
  height: 90px;
  margin-top: 10px;
  margin-left: 20px;
  width: 100px;
  border-radius: 15px;
}
.container {
  display: flex;
  justify-content: center;
}
.todo-task-container {
  display: flex;
  align-items: center;
}
.todo-task-container p {
  width: 170px;
  height: 30px;
  background-color: coral;
}
.todo-task-container :nth-child(2) {
  border-left: 2px solid white;
}
.todo-task-container button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
}
